.tileElement
{
    margin-top: 10px;
    width: 400px;
    padding: 5px;
    position: relative;
    -webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}

.tileSelectedElement
{
    background-color: #9CCF5F;
}

.tileElement:hover
{
    background-color: #F5F4F3;
    cursor: pointer;
}

.tileElement .ui-icon
{
    display: none;
}
.tileElement:hover .ui-icon
{
    display: inline-block;
}
.tileCommand
{
    position: absolute;
    top: 0;
    right: 0;
}

.ui-icon
{
    display: inline-block;
}

.ui-icon:hover
{
    background-color: #9CCF5F;
    cursor: pointer;
}

.tileTitle
{
    font-family: Verdana;
    font-size: small;
    font-weight: bold;
    text-transform: uppercase;
}

.tileSubTitle
{
    font-style: italic; 
    color: #C0C0C0;
}

.shortTileElement
{
    width: 200px;
}
