@{
    ViewBag.Title = "Index";    
}
@section head{
    <style type="text/css">
        #content-wrapper
        {
            margin: 0 auto;
            background: #fff url(../images/content-bg.xlns.gif) repeat-y center top;
            padding-bottom: 35px;
            padding-top: 5px;
            overflow: auto;
        }
        #header
        {
            position: relative;
            margin: 0 auto;
            background: url(../images/border.gif) repeat-x left bottom;
            height: 275px;
        }
    </style>
}
@section logo{
    <h1 id="logo-text">
       @Html.ActionLink("BusBook", "Index", "Home")
    </h1>
    <p id="intro">
        the bus tour-aggregator...</p>
}
<div id="content-wrapper" class="container_16">
    <!-- main -->
    <div id="main" class="grid_16">
        <div id="left-columns" class="grid_4">
            <div class="grid_4 alpha">
                <div class="sidemenu">
                    @{Html.RenderAction("ShowLogin", "Login");}
                    <fb:login-button autologoutlink="true" perms="email,user_birthday,status_update,publish_stream" />
                </div>
            </div>
        </div>
        <div class="grid_4 omega">
            <h3>
                Registrati</h3>
            @{Html.RenderAction("Registration", "Login");}
        </div>
        <!-- main ends -->
    </div>
    <!-- contents end here -->
</div>
@section footer{
    <div class="grid_8">
        <h3>
            Cos'è un Tour Aggregator?</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse
            bibendum. Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis
            varius lorem, eu posuere nunc justo tempus leo. Donec mattis, purus nec placerat
            bibendum, dui pede condimentum odio, ac blandit ante orci ut diam. <a href="index.html">
                Read more...</a>
        </p>
    </div>
    <div id="footer-bottom">
        <p class="bottom-left">
            &nbsp; &copy;xlns - 2011 - All rights reserved &nbsp; &nbsp; Powered by <a href="http://www.xlns.it/">
                xlns</a>, you're right to be excellent
        </p>
        <p class="bottom-right">
            <a href="index.html">Home</a> | <a href="index.html">Sitemap</a> | <a href="index.html">
                RSS Feed</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>
            | <a href="http://validator.w3.org/check/referer">XHTML</a>
        </p>
        <br />
        <div class="fb-like" data-href="http://www.xlns.it" data-send="true" data-layout="button_count"
            data-width="450" data-show-faces="true" data-font="segoe ui">
        </div>
}
