@using Xlns.BusBook.UI.Web.Models
@{
    ViewBag.Title = "Index";    
}
@section head{
    <style type="text/css">
        #content-wrapper
        {
            margin: 0 auto;
            background: #fff url(../images/content-bg.xlns.gif) repeat-y center top;
            padding-bottom: 35px;
            padding-top: 5px;
            overflow: auto;
        }
        
        
        #slides
        {
            width: 600px;
            height: 500px;
            border: 2px solid silver;
        }
        
        #slides h1
        {
            margin: 10px 0px 20px 10px;
            text-align: center;
        }
        
        .slides_container
        {
            width: 600px;
            height: 450px;
        }
        .slides_container div
        {
            width: 600px;
            height: 450px;
            display: block;
        }
        .pagination
        {
            margin: 26px auto 0;
            width: 100px;
        }
        .pagination li
        {
            float: left;
            margin: 0 1px;
            list-style: none;
        }
        .pagination li a
        {
            display: block;
            width: 12px;
            height: 0;
            padding-top: 12px;
            background-image: url('../../Content/img/pagination.png');
            background-position: 0 0;
            float: left;
            overflow: hidden;
        }
        .pagination li.current a
        {
            background-position: 0 -12px;
        }
        
        .SliderFontstyle
        {
            margin: 10px 10px 10px 10px;
            font-size: 16px;
            text-align: justify;
        }
        
        .fontstyle
        {
            font-size: 13px;
            text-align: left;
        }
    </style>
}
<div id="content">
    <div id="slides">
        <div class="slides_container">
            <div>
                <h1>
                    Cos'è Parti Comodo?</h1>
                <center>
                    <p class="SliderFontstyle">
                        <b>Parti Comodo</b> non è un Tour Operator, ma un Tour Aggregator dedicato al mondo
                        delle Agenzie di Viaggi: <b>Crea, Pubblica e Condividi le tue iniziative</b>, Parti
                        Comodo ti aiuterà a connettere la tua attività con il Mondo che ti circonda!</p>
                    <img src="@Url.Content("~/Content/img/dotted-world-map.gif")" /></center>
            </div>
            <div>
                <h1>
                    Perché usare Parti Comodo?</h1>
                <p class="SliderFontstyle">
                    Per qualche motivo non riesci a commercializzare la tua iniziativa? Desideri organizzare
                    un viaggio, ma non hai abbastanza persone per riempire il tuo Bus? Da oggi con <b>Parti
                        Comodo</b> avrai la possibilità di evedenziare le tue iniziative o di completarle
                    grazie ad un ampio ventaglio di offerte basate sulle pubblicazioni effettuate dalle
                    Agenzie e dai tour Operator che circondano il tuo territorio.
                    <center>
                        <img src="@Url.Content("~/Content/img/xlns_map.jpg")" /></center>
                </p>
            </div>
            <div>
                <h1>
                    Cos'è un Tour Aggregator?</h1>
                <p class="SliderFontstyle">
                    Un Tour Aggregator non è un gestionale, ma una vera e propria esperienza informatica.
                    Questo innovativo sistema ha il principio di evidenziare e consolidare il forte
                    legame tra Agenzie e Tour Operator. Scorri tra i viaggi disponibili, seleziona quelli
                    che soddisfano i tuoi criteri e crea la tua lista personalizzata. Parti Comodo ti
                    aiuterà a promuovere le tue iniziative in modo semplice ed innovativo!!
                     <center>
                        <img src="@Url.Content("~/Content/img/mac.bmp")" /></center>
                </p>
            </div>
        </div>
        <script src="../../Content/scripts/slides.min.jquery.js" type="text/javascript"></script>
        <script>
            $(function () {
                $('#slides').slides({
                    play: 5000,
                    pause: 5000,
                    hoverPause: true
                });
            });
        </script>
    </div>
</div>
<div id="sidebar">
    <div id="hire">
        <h2 class="sidebar-title">
            Login</h2>
        <p>
            @{
                Html.RenderAction("ShowLogin", "Login", Session.getLoggedUtente());
            }
        </p>
    </div>
    <div id="featured-project">
        <img src="../../Content/img/particomodo-small.png" />
    </div>
</div>
