@model IEnumerable<Xlns.BusBook.Core.Model.Viaggio>
@{    
    ViewBag.Title = "Viaggi";
}
@section head{
    <link href="@Url.Content("~/Content/tiledList.css")" rel="stylesheet" type="text/css" media="screen"/>
}
<div id="content-wrapper" class="container_16">
    <div id="main" class="grid_16">
        <h3>@ViewBag.Title</h3>
        <p>
            @Html.ActionLink("Proponi nuovo viaggio", "Create")
        </p>        
        @foreach (var item in Model)
        {
            Html.RenderAction("ViaggioTiledDetail", new { viaggio = item});
        }
    </div>
</div>
