@model Xlns.BusBook.UI.Web.Models.DettaglioAgenziaView
<div id="dialogPartecipazione">
    @{Html.RenderAction("ShowTile","Azienda", new { agenziaVM = Model})}
</div>
<script type="text/javascript" src="@Url.Content("~/Content/scripts/viaggio.richiesta.partecipazione.js")" ></script>
@*<script type="text/javascript">
    $("#dialogPartecipazione").dialog();
</script>*@