@model Xlns.BusBook.Core.Model.Viaggio
<div>
    @Html.DisplayFor(model => model.Nome)
    <br />
    @Html.DisplayFor(model => model.DataPartenza)
    <br />
    @Html.DisplayFor(model => model.DataChiusuraPrenotazioni)
    <br />
</div>
