<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <core>
    <DAL>
      <!--<hibernateConfiguration>C:\Xlns\BuX\BusBook\Xlns.BusBook.UI.Web\Config\hibernate.cfg.xml</hibernateConfiguration>-->
      <connectionString>Integrated Security=SSPI;Persist Security Info=False;User ID=geoad;Initial Catalog=BusBook;Data Source=localhost\sqlexpress</connectionString>
      <hibernateConfiguration>C:\Xlns\BuX\DB\hibernate.cfg.xml</hibernateConfiguration>
      <!--<connectionString>Data Source=tcp:s03.winhost.com;Initial Catalog=DB_14568_service;User ID=DB_14568_service_user;Password=marco;Integrated Security=False;</connectionString>-->
    </DAL>
  </core>
  <UI>
    <Web>
      <itemsPerPage>5</itemsPerPage>
    </Web>
  </UI>
</configuration>
