<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <core>
    <DAL>
      <!--<hibernateConfiguration>C:\Xlns\BuX\BusBook\Xlns.BusBook.UI.Web\Config\hibernate.cfg.xml</hibernateConfiguration>-->
      <connectionString>Integrated Security=SSPI;Persist Security Info=False;User ID=geoad;Initial Catalog=BusBook;Data Source=localhost\sqlexpress</connectionString>
      <!-- Usare il segnaposto [config] per ereditare il path del presente file di configurazione -->
      <hibernateConfiguration>[config]\hibernate.cfg.xml</hibernateConfiguration>
      <!--<connectionString>Data Source=tcp:s03.winhost.com;Initial Catalog=DB_14568_service;User ID=DB_14568_service_user;Password=marco;Integrated Security=False;</connectionString>-->
    </DAL>
    <files>
      <!--<rootFolder>c:\temp\BusBookFiles</rootFolder>-->
      <rootFolder>~\App_Data</rootFolder>
      <isRootFolderRelative>true</isRootFolderRelative>
      <companyIdPrefix>Agenzia</companyIdPrefix>
      <depliantFolder>Depliant</depliantFolder>
      <promoImageFolder>PromoImage</promoImageFolder>
    </files>
  </core>
  <UI>
    <Web>
      <itemsPerPage>5</itemsPerPage>
    </Web>
  </UI>
  <helpers>
    <messages>
      <partecipazioneMessage>Gentile Utente, l'Agenzia {agenzia} ha richiesto di partecipare al viaggio {viaggio}</partecipazioneMessage>
      <rimuoviPartecipazioneMessage>Gentile Utente, l'Agenzia {agenzia} ha rimosso la partecipazione al viaggio {viaggio}</rimuoviPartecipazioneMessage>
    </messages>
    <mailer>
      <from>info@BusBook</from>
      <subject>BusBook</subject>
      <body>
        <register></register>
        <resetPassword>Gentile Utente la tua nuova password di BusBook è: {password}</resetPassword>
        <changePassword>Gentile Utente la tua tua password di BusBook è stata reimpostata</changePassword>
      </body>
      <smtp>
        <port>587</port>
        <host>smtp.gmail.com</host>
        <username>shared.xlns@gmail.com</username>
        <password>xlns.shared</password>
      </smtp>
    </mailer>
    <recaptcha>
      <publickey>6Lcq1csSAAAAAGdA4Ugi3h6D5kpwQTq-g-AXVXSt</publickey>
      <privatekey>6Lcq1csSAAAAAMVxhX-q5FoypxfFZroeUys7Ozf8</privatekey>
    </recaptcha>
  </helpers>
  <facebook>
    <id>121991604585990</id>
    <privatekey></privatekey>
  </facebook>
</configuration>

