@model Xlns.BusBook.Core.Model.Viaggio
<div class="editor-label">
    @Html.LabelFor(model => model.Depliant)
    <span class="ui-icon ui-icon-link"></span>
    <span class="ui-icon ui-icon-closethick"></span>
</div>
