@{
    ViewBag.Title = "Informativa";
}
@section head{
    <link href="@Url.Content("~/Content/agenzia.css")" rel="stylesheet" type="text/css" media="screen"/>
}
<div id="content-wrapper" class="container_16">
    <div id="main" class="grid_16">
        <h3>BusBook registrazione fase 1 di 3 - Informativa sulla Privacy</h3>
        <h3>
            Informativa ai sensi del D.Lgs 196/2003 di xlns</h3>
        <p>
            Gentile utente, desideriamo informarLa che il D. Lgs. 196/03 prevede la tutela delle
            persone e di altri soggetti rispetto al trattamento dei dati personali. Le norme,
            in aderenza alla disciplina dell’Unione Europea, intendono garantire che il trattamento
            dei dati personali si svolga nel rispetto dei diritti e delle libertà fondamentali
            (tutelati, in generale, dalla Costituzione della Repubblica), nonché della dignità
            delle persone fisiche, con particolare riferimento alla riservatezza e all’identità
            personale.
        </p>
        <h3>
            Finalità del trattamento</h3>
        <p>
            Secondo la legge indicata, tale trattamento sarà improntato ai principi di correttezza,
            liceità e trasparenza e di tutela della Sua riservatezza e dei Suoi diritti. In
            particolare la raccolta ed il trattamento dei Suoi dati sono effettuati per l'adempimento
            e prestazione del servizio richiesto.
        </p>
        <h3>
            Modalità e luogo del trattamento</h3>
        <p>
            Il trattamento dei dati personali avverrà prevalentemente con modalità automatizzate
            e con l’ausilio di strumenti informatici e telematici, per il tempo strettamente
            necessario a conseguire gli scopi per cui sono stati raccolti. Specifiche misure
            di sicurezza sono osservate per prevenire la perdita dei dati, usi illeciti o non
            corretti ed accessi non autorizzati. I dati sono raccolti su supporti di proprietà
            di xlns.
        </p>
        <h3>
            Facoltatività del conferimento dei dati</h3>
        <p>
            Il conferimento dei dati personali è facoltativo, ma l’eventuale rifiuto non consente
            a xlns di offrire il servizio richiesto.
        </p>
        @Html.ActionLink("Accetto", "Register")
        @Html.ActionLink("Non Accetto", "Register")
    </div>
</div>
