@model Xlns.BusBook.Core.Model.Utente
<link type="text/css" href="@Url.Content("~/Content/logout.css")" media="screen, projection" rel="stylesheet" />
<div id="LogoutDiv">
    <div id="topnav" class="topnav">
        <a href="#" class="signin"><span>@Html.DisplayTextFor(model => model.Nome) @Html.DisplayTextFor(model => model.Cognome)</span></a>
    </div>
    <fieldset id="signin_menu">
        <div>
            @Ajax.ActionLink("Esci", "Logout", "Login", new { redirectOnSuccess = true }, new AjaxOptions()
            {
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "POST",
                UpdateTargetId = "replaceDiv"
            }, new { @class = "button" })
        </div>
        <div id="replaceDiv" style="display: none;">
        </div>
    </fieldset>
</div>
