@model Xlns.BusBook.UI.Web.Models.ListFlyerView
<br />
<div>
    @Html.ActionLink("Nuovo Flyer", "Edit", new { id = 0 }, new { @class = "button" })
</div>
<br />
<div>
    @Html.ActionLink("Flyers", "List", new { idAgenzia = Model.agenzia.Id }, new { @class = "button" })
</div>
<br />
<div>
    @Html.ActionLink("Mini Sito", "Index", "Site", new { id = Model.agenzia.Id }, new { @class = "button" })
</div>
<br />
<script type="text/javascript" src="@Url.Content("~/Content/scripts/flyer.tile.js")" ></script>
<div id="topFlyers">
@foreach (var flyer in Model.flyers)
{
    Html.RenderAction("ShowTile", new { flyer = flyer, isShort = true, isEditable = true, isDetailAjax = false });
}
</div>

<div style="visibility: hidden; ">
    <div id="dialog-confirm" title="Elimina Flyer">
	    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Sicuro di voler cancellare il Flyer?</p>
    </div>
</div>

